body {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  font-family: "Open Sans", sans-serif;
}

#main {
	text-align: center;
    font-family: "Open Sans", sans-serif;
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10%;
    left: 0;
}

#network_pending {
	color: #FFF;
}

#connected {
	display: none;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #FFF;
}

h2 {
  color: #FFF;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #FFF;
  font-size: 24px;
}

.white {
  color: white;
}

#balance {
  color: white;
}

.hint {
  color: #FFF;
}
